# Tailscale Auth Key per il join dei nodi alla tailnet
TAILSCALE_AUTH_KEY=tskey-auth-XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX

# Tailscale API Token per la gestione delle ACL
TAILSCALE_API_TOKEN=tskey-api-XXXXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXX

# Tailnet name (es. example.com o example.github)
TAILSCALE_TAILNET=example.com
